# 8 - Ejercicio 1 EDA - Datos del Naufragio del Titanic


* Para este ejercicio disponemos de una serie de datos relativos a los ***pasajeros que se embarcaron en el Titanic***, así como un flag que nos indica si ***sobrevivieron o no***.


* Estos datos se encuentran en los siguientes ficheros:

    - ***Pasajeros***: ./data/titanic/pasajeros.csv
    - ***Supervivientes***: ./data/titanic/supervivientes.csv


* Los ***campos que hay en el fichero de Pasajeros*** son los siguientes:
    - PassengerId: identificador de pasajero
    - Pclass: clase en la que viajaba 1 = 1st, 2 = 2nd, 3 = 3rd
    - Name
    - Sex
    - Age
    - SibSp: hermanos o conyujes abordo
    - Parch: padres o hijos abordo
    - Ticket: id del ticket
    - Fare
    - Cabin: id de la cabina
    - Embarked: Puerto de embarcación C = Cherbourg, Q = Queenstown, S = Southampton

* Los ***campos que hay en el fichero de Supervivientes*** son los siguientes:
    - PassengerId:  identificador de pasajero
    - Survived: 1: sobrevivio, 0: murió

#### Para este ejercicio se pide:

* Dado un DataFrame (df) ya cargado con los datos de los pasajeros y si sobrevivieron o no:

    1. ***Crear una nueva columna en el DataFrame (df) llamada puerto, que contenga en Nombre del puerto*** (No el identificador del puerto)
    2. ***Obtener el número de pasajeros que embarcaron en cada puerto*** (Cherbourg, Queenstown, Southampton)
    3. ***Obtener cuantos hombres y mujeres embarcaron***
    4. ***Obtener la edad media de los hombres y mujeres que sobrevivieron y murieron***
    5. ***Obtener cuantos muertos hubo por rango de edad*** (< 18 años: jovenes, 18-65 años: adultos, 65 >: Anciano) 
    6. ***Obtener el número de muertos por clase y genero***
    7. ***Obtener el número de muertos y supervivientes por ciudad de origen***

<hr>

#### Pasos previos:

   - Importamos la librería de pandas
   - Cargamos los ficheros y los pasamos a un DataFrame
   - Creamos el DataFrame para realizar los ejercicios, realizando un ***inner join*** por el campo *'PassengerId'*

In [1]:
import pandas as pd

# Cargamos los ficheros
df_pasajeros = pd.read_csv('./data/titanic/pasajeros.csv', header=0)
df_supervivientes = pd.read_csv('./data/titanic/supervivientes.csv', header=0)

# Join
df = pd.merge(df_pasajeros, df_supervivientes, on='PassengerId', how='inner')

df.sample(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
16,17,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.125,NaN,Q,0.0
770,771,3,"Lievens, Mr. Rene Aime",male,24.0,0,0,345781,9.5,NaN,S,0.0
330,331,3,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.25,NaN,Q,1.0
445,446,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S,1.0
1299,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,1.0

<hr>


#### 1. ***Crear una nueva columna en el DataFrame (df) llamada puerto, que contenga en Nombre del puerto*** (No el identificador del puerto)

In [2]:
# TODO

<hr>


#### 2. ***Obtener el número de pasajeros que embarcaron en cada puerto*** (Cherbourg, Queenstown, Southampton)

In [3]:
# TODO

<hr>


#### 3. ***Obtener cuantos hombres y mujeres embarcaron***

In [4]:
# TODO

<hr>


#### 4. Obtener la edad media de los hombres y mujeres que sobrevivieron y murieron

In [5]:
# TODO

<hr>


#### 5. ***Obtener cuantos muertos hubo por rango de edad*** (< 18 años: jovenes, 18-65 años: adultos, 65 >: Anciano)

In [6]:
# TODO

<hr>


#### 6. ***Obtener el número de muertos por clase y genero***

In [7]:
# TODO

<hr>


#### 7. ***Obtener el número de muertos y supervivientes por ciudad de origen***

In [8]:
# TODO

<hr>

*Este Notebook ha sido desarrollado por **Ricardo Moya García** y registrado en Safe Creative como ***Atribución-NoComercial-CompartirIgual***.*

<img src="./imgs/CC_BY-NC-SA.png" alt="CC BY-NC">