# 10 - Ejercicio 2 - Análisis de Resultados de la Liga de Fútbol (2017/18)


* Este ejercicio se va a dividir en 3 partes:
    1. Construir la ***clasificación final de la temporada*** (para 1ª o 2ª división)
    2. Construir una ***matriz de resultados*** del siguiente estilo:
    

<img src="./imgs/09_01_pivot_table.png" style="width: 1100px;"/>


* Para realizar este ejercicio se dispone del fichero ***'Partidos_Futbol_Temporada_2017_18.csv'*** que tiene los siguientes campos:

    - idPartido: Un identificador único de partido.
    - temporada: Temporada en la que se jugó el partido
    - division: División en la que se jugo el partido (Primera '1', Segunda '2')
    - jornada: Jornada en la que se jugó el partido
    - EquipoLocal: Nombre del Equipo Local
    - EquipoVisitante: Nombre del Equipo Visitante
    - golesLocal: Goles que marcó el equipo local
    - golesVisitante: Goles que marcó el equipo visitante
    - fecha: Fecha en la que se jugó el partido
    - timestamp: Timestamp de la fecha en la que se jugó el partido


<hr>


## Ejercicios:


### 1. Construir la clasificación final de la temporada (para 1ª o 2ª división)

* Para construir una tabla con la clasificación final de la temporada (Para 1ª o 2ª división) hay que seguir los siguientes pasos:

    - **1.1 Filtramos los partidos de 1ª o 2ª División**
    - **1.2 Creamos un dataframe (df_local) con los puntos que consigue el equipo local**
    - **1.3 Creamos un dataframe (df_visitante) con los puntos que consigue el equipo visitante**
    - **1.4 Unimos los dos dataframes (df_result)**
    - **1.5 Agregamos por equipo y sumamos sus puntos**
    - **1.6 Ordenamos el dataframe por puntos**


### 2. Construir una matriz de resultados de la temporada:

* Para construir una matriz de resultados tenemos que realizar los siguientes pasos:

    - **2.1 Filtramos los partidos de 1ª o 2ª División**
    - **2.2 Creamos una nueva columna que sea la concatenación de las columnas 'golesLocal' con 'golesVisitate'**
    - **2.3 Realizamos el Pivot Table***


<hr> 


#### Pasos previos:

   - Importamos la librería de pandas
   - Cargamos los ficheros y los pasamos a un DataFrame

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))


import pandas as pd

df = pd.read_csv('./data/Partidos_Futbol_Temporada_2017_18.csv', header=0)
df.sample(5)

,idPartido,temporada,division,jornada,EquipoLocal,EquipoVisitante,golesLocal,golesVisitante,fecha,timestamp
44,36350,2017-18,1,5,Deportivo,Alaves,1,0,20/09/2017,1505858400
624,36930,2017-18,2,23,Oviedo,Almeria,2,1,20/01/2018,1516402800
374,36680,2017-18,1,38,Leganes,Betis,3,2,19/05/2018,1526680800
436,36742,2017-18,2,6,Sporting de Gijon,Lorca FC,1,0,23/09/2017,1506117600
346,36652,2017-18,1,35,Valencia,Eibar,0,0,29/04/2018,1524952800

<hr>


### 1. Construir la clasificación final de la temporada (para 1ª o 2ª división)

#### 1.1 Filtramos los partidos de 1ª o 2ª División

In [2]:
df_division = df # TODO
df_division.sample(5)

,idPartido,temporada,division,jornada,EquipoLocal,EquipoVisitante,golesLocal,golesVisitante,fecha,timestamp
27,36333,2017-18,1,3,Celta de Vigo,Alaves,1,0,10/09/2017,1504994400
654,36960,2017-18,2,25,Oviedo,Sporting de Gijon,2,1,04/02/2018,1517698800
753,37059,2017-18,2,34,Gimnastic de Tarragona,Valladolid,1,0,08/04/2018,1523138400
576,36882,2017-18,2,18,Cordoba,Rayo Vallecano,2,2,10/12/2017,1512860400
503,36809,2017-18,2,12,Cadiz,Rayo Vallecano,0,0,28/10/2017,1509141600

#### 1.2 Creamos un dataframe (df_local) con los puntos que consigue el equipo local

* Creamos una copia del DataFrame df

In [3]:
# Copia
df_local = df_division[['EquipoLocal', 'jornada', 'golesLocal', 'golesVisitante']].copy()

# TODO

df_local.head(5)

     EquipoLocal  jornada  golesLocal  golesVisitante
0       Valencia        1           1               0
1        Leganes        1           1               0
2  Celta de Vigo        1           2               3
3         Girona        1           2               2
4        Sevilla        1           1               1

#### 1.3 Creamos un dataframe (df_visitante) con los puntos que consigue el equipo visitante


* Creamos una copia del DataFrame df

In [4]:
# Copia
df_visitante = df_division[['EquipoVisitante', 'jornada', 'golesLocal', 'golesVisitante']].copy()

# TODO

df_visitante.sample(5)

    EquipoVisitante  jornada  golesLocal  golesVisitante
252         Leganes       26           4               0
830         Granada       41           2               1
493        Tenerife       11           2               2
397        Alcorcon        2           0               0
525  Rayo Vallecano       14           3               2

#### 1.4 Unimos los dos dataframes (df_result)

* Cambiamos los nombres de EquipoLocal y EquipoVisitante a Club para realizar la unión

In [5]:
df_local = df_local.rename(columns={'EquipoLocal': 'Club'})
df_visitante = df_visitante.rename(columns={'EquipoVisitante': 'Club'})

# TODO

#### 1.5 Agregamos por equipo y sumamos sus puntos

In [6]:
# TODO

#### 1.6 Ordenamos el dataframe por puntos

In [7]:
# TODO

<hr>


### 2. Construir una matriz de resultados de la temporada:


#### 2.1 Filtramos los partidos de 1ª o 2ª División


* Realizaremos el ejercicio con los partidos de primera división

In [8]:
# TODO

#### 2.2 Creamos una nueva columna que sea la concatenación de las columnas 'golesLocal' con 'golesVisitate'

In [9]:
# TODO

#### 2.3 Realizamos el Pivot Table

In [10]:
# TODO

<hr>

*Este Notebook ha sido desarrollado por **Ricardo Moya García** y registrado en Safe Creative como ***Atribución-NoComercial-CompartirIgual***.*

<img src="./imgs/CC_BY-NC-SA.png" alt="CC BY-NC">